BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Left
SortIncludes: true
SpaceAfterCStyleCast: true
